
.log-out-btn {
  position: absolute;
  right: 50px;
  cursor: pointer;
}
.logo-container {
  width: 100px;
}
.logo-container img {
  width: 100%;
}
.switch-mode {
  position: absolute;
  right: 100px;
  cursor: pointer;
}
#navbar .lucide{
    color:#fff;
}
#navbar .lucide:hover {
  box-shadow: 0px 0px 35px rgb(47, 248, 255);
  transition: box-shadow 0.3s ease;
}
.mobile-view-logout,
.mobile-view-search {
  display: none;
}
.desktop-search{
  display: flex;
}
@media (max-width: 767px) {
  .nav-btns-container {
    display: none;
  }
  .mobile-view-logout,
  .mobile-view-search {
    display: flex;
  }
  .desktop-search{
    display: none;
  }
  .logo-container {
    width: 70px;
  }
}
@media (max-width: 375px) {
  .logo-container {
    width: 50px;
  }
  .form-control {
    padding: 0.1rem 0.75rem;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl{
    flex-wrap: unset;
    justify-content: unset;
  }
}
@media (max-width: 320px) {
 
}
